@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Abril Fatface", cursive;
    text-align: center;
}

/*styling welcome*/
.welcome {
    display: flex;
    flex-direction: column;
}

#logoWelcome {
    border-radius: 50%;
    width: 50%;
    margin-top: 5%;
    text-align: center;
}

#linkLogin {
    position: relative;
    margin-left: -850%;
    color: black;
    font-size: 1.5em;
}

.register {
    margin-top: -40%;
    margin-left: 80%;
    margin-right: 2%;
}
.register h3 {
    font-size: 1.5em;
    text-decoration: underline;
}

.registerField {
    padding: 5%;
    text-align: left;
}

.box {
    background-color: #fff;
    opacity: 0.8;
    border: 3px solid black;

    border-radius: 3px 15px 5px 30px;
    /*padding: 70px 100px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.input-container {
    position: relative;
    padding: 0.5%;
}

.input-container input {
    border: 0;
    margin: 3%;
    border-bottom: 1px solid #555;
    background: transparent;
    font-size: 1em;
    color: black;
}

.input-container input:focus {
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

/*login */
.loginbox {
    background-color: #fff;
    opacity: 0.8;
    border: 3px solid black;
    width: 80%;
    display: inline-block;
    border-radius: 3px 15px 5px 30px;
    /*padding: 70px 100px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 5%;
}
.resetLink {
    color: black;
    padding-bottom: 2%;
}
/*App*/

.header {
    height: 30vh;
    border-bottom: 5px solid black;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 10%;
    border-radius: 50%;

    margin: 1%;
    box-shadow: 2px 2px 5px black;
}

.profilePic img {
    height: 100%;
}
.profilePic {
    margin-top: -1%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
}

.nav {
    list-style: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 20%;

    width: 50%;
    height: 60%;
    overflow: auto;
    background-color: goldenrod;
    box-shadow: -5px 3px 0px 39px goldenrod;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid #fff;
    opacity: 0.9;
}

/*main'*/
.main {
    height: 80vh;
}

#profilePicBigger {
    margin-top: 10%;
    height: 40%;
    width: 30%;
}
