@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Abril Fatface", cursive;
    text-align: center;
}

/*styling welcome*/
.bgImg {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.smImg {
    width: 100vw;
    height: 25vh;
    object-fit: cover;
}

.start {
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .wrapper {
    background: rgba(240, 240, 240, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 500px;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.18);
}

.start .title {
    width: 550px;
    height: 550px;
}

.welcome {
    display: flex;
    flex-direction: column;
}

#logoWelcome {
    border-radius: 50%;
    width: 50%;
    margin-top: 5%;
    text-align: center;
}

#linkLogin {
    position: relative;
    margin-left: -850%;
    color: black;
    font-size: 1.5em;
}

.register {
    margin-top: -40%;
    margin-left: 80%;
    margin-right: 2%;
}
.register h3 {
    font-size: 1.5em;
    text-decoration: underline;
}

.registerField {
    padding: 5%;
    text-align: left;
}

.box {
    background-color: #fff;
    opacity: 0.8;
    border: 3px solid black;

    border-radius: 3px 15px 5px 30px;
    /*padding: 70px 100px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.input-container {
    position: relative;
    padding: 0.5%;
}

.input-container input {
    border: 0;
    margin: 3%;
    border-bottom: 1px solid #555;
    background: transparent;
    font-size: 1em;
    color: black;
}

.input-container input:focus {
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

/*login */
.loginbox {
    background-color: #fff;
    opacity: 0.8;
    border: 3px solid black;
    width: 80%;
    display: inline-block;
    border-radius: 3px 15px 5px 30px;
    /*padding: 70px 100px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 5%;
}
.resetLink {
    color: black;
    padding-bottom: 2%;
}
/*App*/

.header {
    height: 35vh;
    border-bottom: 5px solid black;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 10%;
    border-radius: 50%;

    padding: 0%;
}

.profilePic {
    height: 95%;
    margin-top: -1%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
}

.profilePicHeader {
    height: 100%;
}

.link,
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

/*uploader */

.modal {
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 20%;

    width: 50%;
    height: 60%;
    overflow: auto;
    background-color: goldenrod;
    box-shadow: -5px 3px 0px 39px goldenrod;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid #fff;
    opacity: 0.9;
}

.modal p,
h3,
input {
    padding: 2%;
}

/*main'*/
.main {
    height: 80vh;
}

/*Profile*/
.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: row;
    gap: 10px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
    padding: 2px 16px;
    background-color: white;
}

.subheading_pictures {
    text-align: center;
    margin-top: 0.5%;

    background: #ffffff;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    padding: 3%;
}

.profilePicBigger {
    margin-top: 10%;
    min-height: 40%;
    max-height: 80%;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bio {
    border: 1px solid black;
    padding: 6%;
    font-size: 1.2em;
    margin-left: 2%;
}

#add {
    margin-top: 2%;
    background-color: white;
    border: 1px dotted black;
}

/*find people*/
#search {
    padding: 0;
    width: 20%;
    border: 2px dotted darkgoldenrod;
}

/*chat*/
.chat-messages-container {
    height: 300px;
    width: 80%;
    /*allow scrolling*/
    overflow-y: scroll;
}

/*otherProfuile*/
.otherProfileImageHeight {
    height: 70vh;
}

.header1 {
    border-bottom: 5px solid black;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    height: 20vh;
    border-bottom: 5px solid black;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#profileInfo {
    display: flex;
    flex-direction: column;
    text-align-last: start;
}

#logoApply {
    border-radius: 50%;
    width: 50%;
    margin-top: 3%;
    padding: 5%;
}

.test {
    display: flex;
}

.apply {
    margin-top: 8%;
    width: 45%;
    margin-bottom: 2%;
}

.messageApply {
    width: 80%;
}

.email {
}

.language {
    position: absolute;
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 2%;
    cursor: pointer;
}

#en {
    margin-left: 2%;
    z-index: 293849823;
}

#de {
    margin-left: 93%;
    z-index: 293849823;
}
